/* body {
  text-align: center;
  background: url('/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
} */

h1 {
  color: azure;
  font-size: 45px;
  margin: 5px;
}
.level-buttons {
  width: 320px;
  height: 30px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-image: linear-gradient(to left, red, orange, yellow, green);
  text-align: center;
}

.level-buttons button {
  width: 100px;
  border: 1px black;
  background-color: rgb(255, 255, 255, 0);
  margin: 2px;
  cursor: pointer;
  font-family: serif;
  font-size: 20px;
}

.game-data {
  height: 40px;
  display: inline-block;
  align-self: center;
  margin-bottom: 10px;
  font-size: 28px;
  color: azure;
}

#restart-button {
  cursor: pointer;
  margin-right: 100px;
  margin-left: 100px;
}

table {
  align-self: center;
  display: inline-block;
}

.game-area {
  margin-top: 40px;

  margin: auto;
}

.game-board {
  text-align: center;
  border: 1px solid black;
}

.cell {
  margin: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: rgb(45, 44, 44);
  color: rgb(194, 20, 20);
}

.cell.shown {
  background-color: rgb(168, 159, 159);
}

.undo {
  margin-top: 30px;
}

.undo-button {
  width: auto;
  border-radius: 3px;
}
